/* globals.css */

@import "tailwindcss";

/* variables + base */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --main-accent: #ff69b4;
}


/* globals.css (add this utility) */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
}
